/* barra de navegacion */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
/* estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 2.5rem; 
    font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
    color: white;
    background-color: black;
}
.seccion-clara {
    color: black;
    background-color: white;
}
.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;;
}
.seccion-descripcion {
    font-size: 1.2rem;
    color: rgb(224, 173, 4);
}
.seccion-texto {
    font-size: 1.2rem;
}
.texto-negro {
    color: black;
}
.texto-blanco {
    color: white;
}
/* seccion Hero */

.hero {
    background-color: rgb(255, 255, 255);
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}
.hero-imagen-desarollador {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}
.hero-principal h2 {
    font-size: 1.5rem;
    color: rgb(19, 17, 16);
}

/* sobre mi */
.sobre-mi {
    height: 400px;
    padding: 10px;
}
.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/* prodcutoss */
.productos-recientes {
    padding: 40px;
}
.productos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.productos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}
.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.productos {
    position: relative;
}

.producto:hover .img{
    opacity: 0.2;
}

.productos:hover .overlay {
    opacity: 1; 
}

/* inicio CSS de REGISTROO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerF{
    width: 900px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
 
.containerF h4{
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 20px;
    color: black;
}

.form-control{
    width: 100%;
    background: #f5f6f7 ;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 26px;
    border: 1px solid #1f53c5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.containerF p{
    height: 30px;
    text-align: center;
    font-size: 18px;
}

.containerF a{
    color: rgb(#1f53c5);
    text-decoration: none;
}

.containerF a:hover{
    color: rgb(#1f53c5);
    text-decoration: underline;
}

.containerF .btn{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

/* fin registro */

/* inicio de los registrados */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerR{
    width: 900px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
 

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 26px;
    border: 1px solid #1f53c5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.containerR p{
    height: 30px;
    text-align: center;
    font-size: 18px;
}

.containerR a{
    color: rgb(#1f53c5);
    text-decoration: none;
}

.containerR a:hover{
    color: rgb(#1f53c5);
    text-decoration: underline;
}

.containerR .btn{
    display: block;   
    width: 20%;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    margin: 0 auto;
    font-size: 20px;
}

.container p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

/* CSS DE CARRO DE COMPRA */
* ::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'lato';
    color: #030303;
}
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #030303;
}

img{
    max-width: 100%;
}

/* estilo de header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0 ;
}

.container-icon{
    position: relative;
}

.count-producto{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #030303;
    color: #f5f6f7;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-cart-productos{
    position: absolute;
    top: 50%;
    right: 0;

    background-color: #f5f6f7;
    width: 400px;
    z-index: 1;
}

.cart-productos{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.info-cart-producto{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex: 0.8;
}
.titulo-producto-carrito{
    font-size: 20px;
}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}
.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.icon-closs{
    width: 25px;
    height: 25px;
}



/* MAIN */
.container-items {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-producto{
    padding: 13px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.price{
    font-size: 10px;
    font-weight: 900;
}

.info-producto button{
    border: none;
    background: none;
    background-color: #030303;
    color: gainsboro;
    padding: 15px 10px;
    cursor: pointer;
}
.error {
    color: red;
}

.container-btn{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

/* FINAL CSS DE CARRO DE COMPRA */

/* adaptable (responsido) */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 400px;
    }
}



